<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3"><%= project.name %></h1>
        
        <img class="img-thumbnail" src="<%= project.image %>"></img>
        
        <p><%= project.description %></p>
            
        <h5><%= project.author %></h5>
    </div>
</div>

<% include ../partials/footer %>