<% include partials/header %>

<h1>Dashboard</h1>
<div class="container">
    <% projects.forEach(function(project){ %>
        <img class="img-thumbnail" src="<%= project.image %>">
        <h3><%= project.name %></h3>
        <p><%= project.description %></p>
        <h6><%= project.author %></h6>
    <% }) %>
    <a class="btn btn-primary" href="/projects/new">Add a new Project</a>
</div>

<% include partials/footer %>